:root {
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: 'Libre Franklin', sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: #787fd3;
}

.navbar-nav .nav-link.active {
    color: #fff;
}

/* CAROUSEL */
.nav-bg {
    background-color: #151a5a;
    border-bottom: 1px solid #4e57d436;
}
#hero-section{
    background: linear-gradient(red);
    background-position: center;
    background-size: cover;
}
.car-img{
    height: 550px;
    object-fit: cover;
    max-height: 600px;
    min-height: 400px;
    width: 100%;
    /* filter: brightness(0.5); */
}

.carousel-caption {
    position: absolute;
    right: inherit;
    bottom: 1.25rem;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.overlap-color{
    background: linear-gradient(45deg, #055ba0bd, #2196f369);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.carousel-txt h5{
    font-size: 3em;
    line-height: 1.2;
}
.carousel-txt p{
    font-size: 1.5em;
    line-height: 1.2;
}
/* ABOUT */
.section-title {
    margin-bottom: 60px;
}
.section-title h1{
    font-weight: 700;
}
.section-title p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}
.about-photo{
    max-height: 700px;
    min-height: 350px;
    height: 100%;
    object-fit: cover;
}

/* ICONBOX */
.icon-box {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* SERVICE */
/* section#services {
    background-color: #234578;
} */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
    height: 20rem;
    margin-bottom: 2rem;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    background-color: #ffffff;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .icon-box {
    background-color: rgba(255,255,255,0.2);
    color: white;
}
/* FAQ */
.faq-box{
    max-width: 650px;
    margin: auto;
}
/* TEAM */
.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}
.team-image{
    max-height: 500px;
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.contact-bg{
    background-color: #edeefb;
}
.form-control{
    padding: 1rem 0.75rem;
}
.btn-brand{
    background-color: var(--c-brand);
    padding: 1rem 0.75rem;
    color: #fff;
}
.btn-brand:hover{
    background-color: #393e94;
    color: #fff;
}

/* FOOTER */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    background-color: #161a1d;
    padding: 20px 0;
}
.top-25{
    top: -25px;
}

footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}

.social-icons {
    gap: 1rem;
    display: flex;
}
@media screen and (max-width:768px) {
    .team-member-content{
        opacity: 1;
        bottom: 0;
        width: calc(100% - 0px);
        background-color: #4e57d4b0;
    }
}
@media screen and (max-width:425px) {
    .car-img {
        height: 250px;
        min-height: 250px;
    }
    .service{
        border: 1px solid #4a53ca;
        border-radius: 5%;
    }
    .carousel-txt h5 {
        font-size: 1.5em;
        line-height: 1.2;
    }
    .carousel-txt p{
        font-size: 1em;
        line-height: 1.2;
    }
    .carousel-caption{
        top: 50%;
        right: -20%;
        left: 50%;
    }
    .section-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .team-member-content{
        opacity: 1;
        bottom: 0;
        width: calc(100% - 0px);
        background-color: #4e57d4b0;
    }
   
}
